html,
body {
    background: #eee;
    height: 100%;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 5px;
}

.content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    height: 100%;
}

.header {
    height: 50px;
    font-size: 0;
}

#username {
    width: 145px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
}

.search {
    float: right;
    max-width: 320px;
    font-size: 0;
    float: right;
    width: calc(100% - 145px);
    padding: 13px 0 13px 0;
    display: inline-block;
}

.textField {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 24px;
    padding: 5px;
    border: 1px solid black;
}

.searchField {
    min-width: 100px;
    width: calc(100% - 56px);
}

.popupField {
    margin: 5px 0;
    width: 100%;
}

.popupButton {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin: 5px 0 5px 10px;
    height: 24px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

#searchButton {
    height: 24px;
    border-radius: 0 5px 5px 0;
    border: solid black;
    border-width: 1px 1px 1px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
}

#settingsButton {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 8px;
    height: 24px;
    width: 24px;
    padding: 0;
    border-radius: 5px;
    border: solid black 1px;
}

.popupErrorMessage {
    color: #800000;
    display: none;
}

.popup {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    left: 0;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    max-width: 90%;
    z-index: 200;
    border: solid black 1px;
    border-radius: 5px;
    padding: 20px;
    background: #858585;
    display: none;
}

#takeUsername {
    display: block;
}

#modalOverlayMask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.4;
    display: block;
}

#historyConteiner {
    position: relative;
    background: white;
    border: solid 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100% - 118px);
}

#offline {
    border-bottom: solid 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    background: red;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 2;
}

#history {
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.newMessage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    height: 50px;
    font-size: 0;
}

#newMessageField {
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    width: calc(100% - 70px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#sendButton {
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: solid black;
    border-width: 1px 1px 1px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70px;
}

.messageConteiner {
    position: relative;
    padding: 10px 20px;
}

.k1 {
    position: absolute;
    width: 40px;
    margin-left: 20px;
    left: 0;
    text-align: right;
}

.k2 {
    margin: 0 40px 0 55px;
}

.k3 {
    visibility: hidden;
    margin-right: 20px;
    right: 0;
    padding-left: 13px;
    top: 3px;
    height: 18px;
    position: absolute;
    width: 27px;
}

.citeBtn,
.editBtn,
.deleteBtn {
    display: none;
}

.deleteMarker {
    visibility: hidden;
}

.messageConteiner:hover {
    background: #ffffed;
}

.messageConteiner:hover > .k3 {
    visibility: visible;
}

.time,
.name {
    margin-bottom: 5px;
}

.text {
    word-wrap: break-word;
}

@media (max-width: 370px) {
    #username {
        display: none;
    }
    .search {
        width: 100%;
    }
    .messageConteiner {
        padding: 10px 0;
    }
    .k1 {
        margin-left: 5px;
    }
    .k3 {
        margin-right: 5px;
    }
}
